{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GrwNow</title>
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/table.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
 

<div class="screen">
  <div class="container">

    <h1 id="disp_flo">F1</h1>

    <div class="row section_nav">
      <div class="btn_section">
        <button class="cubic-btn" id="1f">1F</button>
        <button class="cubic-btn primary" id="2f">2F</button>
        <button class="cubic-btn warning" id="3f">3F</button>
      </div>
    </div>
  </div>




  <div class="container">




    <div id="1F_screen">
      <div class="row">
        <div class="col-md-3">
          <form method="post">{% csrf_token %}
            <input id="lat" name="floor" type="text" value="1" hidden>
            <input id="lat" name="table_no" type="text" value="1" hidden>

            <button class="table-circle rv">
                <h1>{{ 1f_1 }}</h1>
            </button>
          </form>
        </div>
        <div class="col-md-3">
          <form method="post">{% csrf_token %}
            <input id="lat" name="floor" type="text" value="1" hidden>
            <input id="lat" name="table_no" type="text" value="2" hidden>

            <button class="table-circle rv">
                <h1>{{ 1f_2 }}</h1>
            </button>
          </form>
        </div>
        <div class="col-md-3">
          <form method="post">{% csrf_token %}
              <input id="lat" name="floor" type="text" value="1" hidden>
              <input id="lat" name="table_no" type="text" value="3" hidden>
    
              <button class="table-circle rv">
                  <h1>{{ 1f_3 }}</h1>
              </button>
          </form>
        </div>
        <div class="col-md-3">
            <form method="post">{% csrf_token %}
                <input id="lat" name="floor" type="text" value="1" hidden>
                <input id="lat" name="table_no" type="text" value="4" hidden>
      
                <button class="table-circle rv">
                    <h1>{{ 1f_4 }}</h1>
                </button>
            </form>
        </div>
      </div>
  

      <div class="row">
        <div class="col-md-3 rv">
            <form method="post">{% csrf_token %}
                <input id="lat" name="floor" type="text" value="1" hidden>
                <input id="lat" name="table_no" type="text" value="5" hidden>
      
                <button class="table-circle rv">
                    <h1>{{ 1f_5 }}</h1>
                </button>
            </form>
        </div>
        <div class="col-md-3 rv">
            <form method="post">{% csrf_token %}
                <input id="lat" name="floor" type="text" value="1" hidden>
                <input id="lat" name="table_no" type="text" value="6" hidden>
      
                <button class="table-circle rv">
                    <h1>{{ 1f_6 }}</h1>
                </button>
            </form>
        </div>
        <div class="col-md-3 rv">
            <form method="post">{% csrf_token %}
                <input id="lat" name="floor" type="text" value="1" hidden>
                <input id="lat" name="table_no" type="text" value="7" hidden>
      
                <button class="table-circle rv">
                    <h1>{{ 1f_7 }}</h1>
                </button>
            </form>
        </div>
        <div class="col-md-3 rv">
            <form method="post">{% csrf_token %}
                <input id="lat" name="floor" type="text" value="1" hidden>
                <input id="lat" name="table_no" type="text" value="8" hidden>
      
                <button class="table-circle rv">
                    <h1>{{ 1f_8 }}</h1>
                </button>
            </form>
        </div>
      
    </div>
  </div>


  <div class="hidden" id="2F_screen">
    <div class="row">
      <div class="col-md-4">
          <form method="post">{% csrf_token %}
              <input id="lat" name="floor" type="text" value="2" hidden>
              <input id="lat" name="table_no" type="text" value="1" hidden>
    
              <button class="table-normal rv">
                  <h1>{{ 2f_1 }}</h1>
              </button>
          </form>
      </div>
      <div class="col-md-4">
          <form method="post">{% csrf_token %}
              <input id="lat" name="floor" type="text" value="2" hidden>
              <input id="lat" name="table_no" type="text" value="2" hidden>
    
              <button class="table-normal rv">
                  <h1>{{ 2f_2 }}</h1>
              </button>
          </form>
      </div>
      <div class="col-md-4">
          <form method="post">{% csrf_token %}
              <input id="lat" name="floor" type="text" value="2" hidden>
              <input id="lat" name="table_no" type="text" value="3" hidden>
    
              <button class="table-normal rv">
                  <h1>{{ 2f_3 }}</h1>
              </button>
          </form>
      </div>
    </div>      
  </div>




  <div class="hidden" id="3F_screen">
      <div class="row">
          <div class="col-md-4">
              <form method="post">{% csrf_token %}
                  <input id="lat" name="floor" type="text" value="3" hidden>
                  <input id="lat" name="table_no" type="text" value="1" hidden>
        
                  <button class="table-circle table-circle-yellow rv">
                      <h1>{{ 3f_1 }}</h1>
                  </button>
              </form>
          </div>
          <div class="col-md-4">
              <form method="post">{% csrf_token %}
                  <input id="lat" name="floor" type="text" value="3" hidden>
                  <input id="lat" name="table_no" type="text" value="2" hidden>
        
                  <button class="table-circle table-circle-yellow rv">
                      <h1>{{ 3f_2 }}</h1>
                  </button>
              </form>
          </div>
          <div class="col-md-4">
              <form method="post">{% csrf_token %}
                  <input id="lat" name="floor" type="text" value="3" hidden>
                  <input id="lat" name="table_no" type="text" value="3" hidden>
        
                  <button class="table-circle table-circle-yellow rv">
                      <h1>{{ 3f_3 }}</h1>
                  </button>
              </form>
          </div>
        </div>
        
      </div>
  </div>

  </div>
</div>



  <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.3/scrollreveal.min.js"></script>
  <script src="{% static 'script/script.js' %}"></script>
</body>
